<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Deleting a Filter</title>

<!--(Meta)==========================================================-->

<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=520>
<meta name=layout-width content=745>
<meta name=date content="10 8, 2001 2:00:28 PM">


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="JXhelp.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Deleting a Filter</h1>

<p>Search filters are created when performing a complex search. Care should 
 be taken when deleting a filter as a single filter may be joined to any 
 number of other filters. If you delete a filter that is part of a joined 
 filter, the joined filter is also deleted. <!--kadov_tag{{<spaces>}}-->&nbsp;&nbsp;<!--kadov_tag{{</spaces>}}--></p>

<p>&nbsp;</p>

<p>To delete a filter:</p>

<p>&nbsp;</p>

<p>1. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->From 
 the Search Menu, choose Delete Filter.</p>

<p>&nbsp;</p>

<p>2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->From 
 the Delete Filter dialog, choose the filter that you want to delete, and 
 then click the Delete button.</p>

<p>&nbsp;</p>

<p>A confirmation dialog is displayed. </p>

<p>&nbsp;</p>

<p>If the filter is used by a joined filter, the dialog lists the joined 
 filters that will also be deleted.</p>

<p>&nbsp;</p>

<p>3. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->If 
 you want to delete the filter (and the joined filters), click Yes.</p>

<p>&nbsp;</p>

<h4>Related Topics</h4>

<p><a href="Joining_Filters.htm">Joining Filters</a></p>

<p><a href="Performing_a_Complex_Search.htm">Performing a Complex Search</a></p>

<p><a href="Performing_a_Quick_Search.htm">Performing a Quick Search </a></p>

<p><a href="Setting_Search_Limits.htm">Setting Search Limits</a></p>

<p>&nbsp;</p>

<p>
<hr>
<font size=-2>
&copy; 2002 Computer Associates International, Inc. (CA)
<br>All trademarks, trade names, service marks, and logos referenced herein
belong to their respective companies.
</font>
</body>

</html>
