<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Deleting a Certificate</title>

<!--(Meta)==========================================================-->

<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=703>
<meta name=layout-width content=745>
<meta name=date content="09 25, 2001 9:35:30 AM">


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="JXhelp.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1 style="color: #008080;">Deleting a Certificate</h1>

<p>The trusted public certificates of servers are stored in the <span style="font-style: italic;"><I>cacerts</I></span> 
 keystore file, and the trusted public certificates (and private keys) 
 of clients are stored in the <span style="font-style: italic;"><I>clientcerts 
 </I></span>keystore file. This option allows you to delete trusted public 
 certificates from the keystores. </p>

<p>&nbsp;</p>

<p>To delete a certificate:</p>

<p>&nbsp;</p>

<p>1. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Do 
 <span style="font-weight: bold;"><B>one</B></span> of the following:</p>

<p>&nbsp;</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class="kadov-p"><p>If you want to delete a trusted server certificate, 
 from the Security Menu, choose Trusted Servers and CAs.</p></li>
	
	<li class="kadov-p"><p>If you want to delete a trusted client certificate, 
 from the Security Menu, choose Client Certificates.</p></li>
</ul>

<p>&nbsp;</p>

<p>2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Select 
 the trusted public certificate that you want to delete, and then click 
 the Delete Certificate button. </p>

<p>&nbsp;</p>

<p>3. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->From 
 the Confirm Certificate Deletion dialog, click OK.</p>

<p>&nbsp;</p>

<p>If <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->you 
 are deleting a trusted server certificate, go to step 5.</p>

<p>&nbsp;</p>

<p>If you are deleting a trusted client certificate, go to step 4.</p>

<p>&nbsp;</p>

<p>4. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Enter 
 the keystore password, and then click OK.</p>

<p>&nbsp;</p>

<p>5. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Click 
 OK to close the dialog.</p>

<p>&nbsp;</p>

<h4><span style="color: #008080;"><FONT COLOR=teal >Related Topics</FONT></span> </h4>

<p><a href="Adding_a_Certificate.htm">Adding a Certificate</a></p>

<p><a href="Adding_a_Private_Key.htm">Adding a Private Key</a></p>

<p><a href="Exporting_a_Private_Key.htm">Exporting a Private Key</a></p>

<p><a href="Managing_Certificates.htm">Managing Certificates</a></p>

<p><a href="Setting_a_Keystore_Password.htm">Setting a Keystore Password</a></p>

<p><a href="Viewing_a_Certificate.htm">Viewing a Certificate</a> </p>

<p>&nbsp; </p>

<p>
<hr>
<font size=-2>
&copy; 2002 Computer Associates International, Inc. (CA)
<br>All trademarks, trade names, service marks, and logos referenced herein
belong to their respective companies.
</font>
</body>

</html>
