body { font-family:arial; background-color:#ffffff; margin: 10; }
h1 { font-weight:bold; font-size:24.0pt; color:#008080;  }
li.kadov-h1 { font-weight:bold; font-size:24.0pt; color:#008080;  }
h2 { font-weight:bold; font-size:18.0pt; color:#008080;  }
li.kadov-h2 { font-weight:bold; font-size:18.0pt; color:#008080;  }
h3 { font-weight:bold; font-size:14.0pt;  }
li.kadov-h3 { font-weight:bold; font-size:14.0pt;  }
h4 { font-weight:bold; font-size:12.0pt; color:#008080;  }
li.kadov-h4 { font-weight:bold; font-size:12.0pt; color:#008080;  }
h5 { font-weight:bold; font-size:10.0pt;  }
li.kadov-h5 { font-weight:bold; font-size:10.0pt;  }
h6 { font-weight:bold; font-size:8.0pt;  }
li.kadov-h6 { font-weight:bold; font-size:8.0pt;  }
p { font-size:12.0pt; margin-top:0pt; margin-bottom:0pt;  }
li.kadov-p { font-size:12.0pt;  }
a.expandspot { color:#008000; cursor:hand; font-style:italic; x-text-underline:off; x-text-overline:off; x-text-line-through:off; text-decoration:none none none;  }
span.expandtext { font-style:italic; font-weight:normal; color:#ff0000;  }
a.dropspot { cursor:hand; color:#008000; font-style:italic; x-text-underline:off; x-text-overline:off; x-text-line-through:off; text-decoration:none none none;  }
a.glossterm { color:#800000; cursor:hand; font-style:italic; x-text-underline:off; x-text-overline:off; x-text-line-through:off; text-decoration:none none none;  }
span.glosstext { font-style:italic; font-weight:normal;  }
ol { margin-top:0px; margin-bottom:0px; font-size:12pt; font-family:arial, sans-serif;  }
ul { margin-top:0px; margin-bottom:0px; font-size:12pt; font-family:arial, sans-serif;  }
a:link {  }
a:hover {  }
