<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Performing a Quick Search</title>

<!--(Meta)==========================================================-->

<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=915>
<meta name=layout-width content=745>
<meta name=date content="09 24, 2001 9:51:21 AM">


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="JXhelp.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1 style="color: #008080;">Performing a Quick Search</h1>

<p>The Quick Search Bar allows you to execute a simple, single attribute&nbsp;search. 
 </p>

<p>&nbsp; </p>

<p><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--><img src="toolbar2.gif" x-maintain-ratio="TRUE" style="border: none;
			width: 676px;
			height: 116px;
			float: none;" width="676" height="116" border="0"></p>

<p>&nbsp; </p>

<p>To perform a simple search: </p>

<p>&nbsp; </p>

<p>1. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->From 
 the Attribute List, select a search attribute. Alternatively, enter a 
 new one, for example, ou, cn. </p>

<p>&nbsp; </p>

<p><span style="font-weight: bold;"><B>Note</B></span>: Any changes or additions 
 to this list are saved when JXplorer shuts down. </p>

<p>&nbsp; </p>

<p>2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->From 
 the Operator List, select the matching relationship for your search: </p>

<p>&nbsp;</p>

<!--(Table)=========================================================-->
<table x-use-null-cells style="x-cell-content-align: top;
				border-spacing: 0px;
				border-left-style: Solid;
				border-left-width: 1px;
				border-right-style: Solid;
				border-right-width: 1px;
				border-top-style: Solid;
				border-top-width: 1px;
				border-bottom-style: Solid;
				border-bottom-width: 1px;
				width: 84.966%;" width="84.966%" cellspacing="0" BORDER="1">
<col style="width: 14.261%;">
<col style="width: 17.477%;">
<col style="width: 68.262%;">

<tr valign=top>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-top-style: Solid;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;
			border-left-width: 1px;
			border-left-style: Solid;
			border-top-width: 1px;"
	width=14.261%>
<p style="font-weight: bold;">Operator</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-top-style: Solid;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;
			border-top-width: 1px;"
	width=17.477%>
<p style="font-weight: bold;">Meaning</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-top-style: Solid;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-top-width: 1px;
			border-right-width: 1px;"
	width=68.262%>
<p style="font-weight: bold;">Example</td></tr>

<tr valign=top>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;
			border-left-width: 1px;
			border-left-style: Solid;"
	width=14.261%>
<p>=</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;"
	width=17.477%>
<p>Exact match</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;"
	width=68.262%>
<p>sn=marten will return all entries with a surname of marten.</td></tr>

<tr valign=top>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;
			border-left-width: 1px;
			border-left-style: Solid;"
	width=14.261%>
<p>~=</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;"
	width=17.477%>
<p>Fuzzy match</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;"
	width=68.262%>
<p>sn~=marten will return all entries with a surname that sounds like marten, 
 for example, martin, martinez.</td></tr>

<tr valign=top>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;
			border-left-width: 1px;
			border-left-style: Solid;"
	width=14.261%>
<p>&gt;=</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;"
	width=17.477%>
<p>Starting from</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;"
	width=68.262%>
<p>sn&gt;=w will return all entries starting with w, and any subsequent 
 letter of <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->the 
 alphabet, for example, Watts, Wittle, Yates.</td></tr>

<tr valign=top>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;
			border-left-width: 1px;
			border-left-style: Solid;"
	width=14.261%>
<p>&lt;=</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;"
	width=17.477%>
<p>Up to</td>
<td style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;"
	width=68.262%>
<p>sn&lt;=b will return all entries up to b, for example, Anderson, Ash, 
 B. Note this does not return entries starting with b, and followed by 
 other letters.</td></tr>

<tr valign=top>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-right-width: 1px;
			border-left-width: 1px;
			border-left-style: Solid;
			border-bottom-width: 1px;"
	width=14.261%>
<p>!(=)</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-right-width: 1px;
			border-bottom-width: 1px;"
	width=17.477%>
<p>Not equal</td>
<td colspan=1
	rowspan=1
	style="padding-right: 10px;
			padding-left: 10px;
			border-right-style: Solid;
			border-bottom-style: Solid;
			border-bottom-width: 1px;
			border-right-width: 1px;"
	width=68.262%>
<p>title!(=)secretary will return all entries with a title other than secretary.</td></tr>
</table>

<p>&nbsp; </p>

<p>3. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Enter 
 the search criteria in the Search Term text box. </p>

<p>&nbsp; </p>

<p><span style="font-weight: bold;"><B>Note</B></span>: <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Use 
 * as a wild card, for example, if you enter sn=smi*, the search will return 
 all entries that start with smi. </p>

<p>&nbsp; </p>

<p>4. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Click 
 the Quick Search button. </p>

<p>&nbsp; </p>

<h4><span style="color: #008080;"><FONT COLOR=teal >Related Topics</FONT></span> </h4>

<p><a href="Performing_a_Complex_Search.htm">Performing a Complex Search</a> 
 </p>

<p><a href="Setting_Search_Limits.htm">Setting Search Limits</a> </p>

&nbsp; 

<p>
<hr>
<font size=-2>
&copy; 2002 Computer Associates International, Inc. (CA)
<br>All trademarks, trade names, service marks, and logos referenced herein
belong to their respective companies.
</font>
</body>

</html>
