<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Setting a Keystore Password</title>

<!--(Meta)==========================================================-->

<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=816>
<meta name=layout-width content=745>
<meta name=date content="09 19, 2001 3:48:14 PM">


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="JXhelp.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Setting a Keystore Password</h1>

<p>The trusted public certificates of servers are stored in the <span style="font-style: italic;"><I>cacerts</I></span> 
 keystore file, and the trusted public certificates and private keys of 
 clients are stored in the <span style="font-style: italic;"><I>clientcerts 
 </I></span>keystore file. The <span style="font-style: italic;"><I>cacerts </I></span>keystore 
 file has a default password of <span style="font-style: italic;"><I>changeit; 
 the clientcerts</I></span> keystore file has a default password of <span style="font-style: italic;"><I>passphrase</I></span>. 
 This option allows you to set a new password to stop unauthorized access 
 to these files. </p>

<p>&nbsp;</p>

<p><span style="font-weight: bold;"><B>Note</B></span>: The password protecting 
 the <span style="font-style: italic;"><I>clientcerts</I></span> keystore file 
 must be the same as that protecting the client's private key; therefore, 
 you cannot change the keystore password after entering the private key 
 password. If you want to change the keystore password, you must export 
 the private key first, change the keystore password, and then re-import 
 the private key into the keystore.</p>

<p>&nbsp;</p>

<p>To set a keystore password:</p>

<p>&nbsp;</p>

<p>1. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Do 
 <span style="font-weight: bold;"><B>one</B></span> of the following:</p>

<p>&nbsp;</p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class="kadov-p"><p>If you are setting a password for the <span style="font-style: italic;"><I>cacerts 
 </I></span><span>keystore</span>, from the Security Menu, choose Trusted Servers 
 and CAs.</p></li>
	
	<li class="kadov-p"><p>If you are setting a password for the <span style="font-style: italic;"><I>clientcerts</I></span><span> 
 keystore</span>, from the Security Menu, choose Client Certificates.</p></li>
</ul>

<p>&nbsp;</p>

<p>2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Click 
 the Set Password button.</p>

<p>&nbsp;</p>

<p>3. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Enter 
 the current password in the Enter Old Password text box.</p>

<p>&nbsp;</p>

<p>4. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Enter 
 the new password in the New Password text box.</p>

<p>&nbsp;</p>

<p>5. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Re-enter 
 the new password in the Confirm New Password text box, and then click 
 OK.</p>

<p>&nbsp;</p>

<p>A dialog confirms that the password has been successfully changed.</p>

<p>&nbsp;</p>

<p>6. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Click 
 OK to close the dialog.</p>

<p>&nbsp;</p>

<h4>Related Topics</h4>

<p><a href="Adding_a_Certificate.htm">Adding a Certificate</a></p>

<p><a href="Adding_a_Private_Key.htm">Adding a Private Key</a></p>

<p><a href="Deleting_a_Certificate.htm">Deleting a Certificate</a></p>

<p><a href="Exporting_a_Private_Key.htm">Exporting a Private Key</a></p>

<p><a href="Managing_Certificates.htm">Managing Certificates</a></p>

<p><a href="Viewing_a_Certificate.htm">Viewing a Certificate</a> </p>

<p>
<hr>
<font size=-2>
&copy; 2002 Computer Associates International, Inc. (CA)
<br>All trademarks, trade names, service marks, and logos referenced herein
belong to their respective companies.
</font>
</body>

</html>
