<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Viewing Options</title>

<!--(Meta)==========================================================-->

<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=557>
<meta name=layout-width content=745>
<meta name=date content="09 24, 2001 9:38:19 AM">


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="JXhelp.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1 style="color: #008080;">Viewing Options</h1>

<p>JXplorer can be displayed with the 'look and feel' of an application 
 with which you are more familiar. For example, you may be a UNIX user, 
 therefore, would feel happier displaying JXplorer with a Motif/X-Windows 
 appearance. JXplorer supports the following interfaces:</p>

<p><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p>

<ul style="list-style: disc;"
	type=disc>
	
	<li class="kadov-p"><p>Microsoft Windows<symbol name=Trademark><!--begin!kadov{{-->&#8482<!--}}end!kadov--> 
 (only available on Microsoft platforms)</p></li>
	
	<li class="kadov-p"><p>Motif/X-Windows</p></li>
	
	<li class="kadov-p"><p>Java </p></li>
</ul>

<p>&nbsp;</p>

<p>To select a viewing interface: </p>

<p>&nbsp; </p>

<p>1. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->From 
 the Options Menu, choose Advanced Options. </p>

<p>&nbsp; </p>

<p>The JXplorer Advanced Options dialog appears. </p>

<p>&nbsp; </p>

<p>2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Select 
 the Look &amp; Feel tab at the top of the dialog. </p>

<p>&nbsp; </p>

<p>3. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Choose 
 the viewing interface you want. </p>

<p>&nbsp; </p>

<p>4. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Click 
 the Apply button. </p>

<p>&nbsp; </p>

<p><span style="font-weight: bold;"><B>Note: </B></span>To revert the viewing 
 options back to the last saved version, click the Reset button. </p>

<p>&nbsp;</p>

<h4>Related Topics</h4>

<p><a href="advancedoptions.htm">Advanced Options</a></p>

<p>
<hr>
<font size=-2>
&copy; 2002 Computer Associates International, Inc. (CA)
<br>All trademarks, trade names, service marks, and logos referenced herein
belong to their respective companies.
</font>
</body>

</html>
